@model BarChart.MyFeature.Pages.Page1Model

<!DOCTYPE html>

<html>
<head>
    <link href="_content/MudBlazor/MudBlazor.min.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width" />
    <title>Page1</title>
</head>
<body>
    <script src="_content/MudBlazor/MudBlazor.min.js"></script>
</body>
</html>
